<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Feed Triage</title>
</head>
<body>
  <div id='login_box'>
    <form id='login_form' action='{{ url_for('login') }}' method='POST'>
      <dl>
	<dt> Username: </dt>
	<dd><input type='text' name='username'></dd>
	<dt> Password: </dt>
	<dd><input type='password' name='password'></dd>
	<dd><input type='submit' value='clicky' name='submit'></dd>
      </dl>
    </form>
  </div>

  <div id='new_account'> 
    <form id='mkuser' action='{{ url_for('mkuser') }}' method='POST'>
      <dl>
	<dt> Username: </dt>
	<dd><input type='text' name='username'></dd>
	<dt> Password: </dt>
	<dd><input type='password' name='password'></dd>
	<dd><input type='password' name='password2'></dd>
	<dt> Email: </dt>
	<dd><input type='text' name='email'></dd>
	<dd><input type='submit' value='clicky' name='submit'></dd>
      </dl>
    </form>
  </div>
  <div id='main_continer'>
    <p> Feed triage is a for-pay web reader with some judiciously selected social features.  For-pay, because we'd rather not make a living from selling you ads or selling your information to advertisers.  Judiciously selected, because not all social features are created equal
      

  </div>

</body>
</html>
